.sidebar {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* Ajusta el color de fondo según tu diseño */
    overflow-x: hidden;
    z-index: 1;
    transition: width 0.3s ease; /* Transición suave para el ancho */
}

    .sidebar.open {
        width: 100% !important; /* Ancho de la barra lateral cuando está abierta */
    }
